.DS_Store
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vae-lstm.iml
.idea/workspace.xml
.ipynb_checkpoints/
dat/
doc/.DS_Store
doc/2015-01-22-brisk-timeseries-recommendations.aux
doc/2015-01-22-brisk-timeseries-recommendations.bbl
doc/2015-01-22-brisk-timeseries-recommendations.blg
doc/2015-01-22-brisk-timeseries-recommendations.fdb_latexmk
doc/2015-01-22-brisk-timeseries-recommendations.fls
doc/2015-01-22-brisk-timeseries-recommendations.log
doc/2015-01-22-brisk-timeseries-recommendations.out
doc/2015-01-22-brisk-timeseries-recommendations.synctex.gz
old/
src/reader.pyc
fit/
